<form class="body" [formGroup]='changePasswordForm' (ngSubmit)='onSubmit()'>
  <div class="body-item">
    <aside class="body-item-desc">
      <label class="body-item-desc-text">Old Password</label>
    </aside>

    <div class="body-item-input">
      <input type="password" appHighlightBlueInput class="body-item-input-text" formControlName='oldPassword'>
    </div>
  </div>

  <div class="body-item" formGroupName='passwords'>
    <aside class="body-item-desc">
      <label class="body-item-desc-text">New Password</label>
    </aside>

    <div class="body-item-input">
      <input type="password" appHighlightBlueInput class="body-item-input-text" formControlName='password'>
    </div>
  </div>

  <div class="body-item" formGroupName='passwords'>
    <aside class="body-item-desc" >
      <label class="body-item-desc-text">Confirm New Password</label>
    </aside>

    <div class="body-item-input">
      <input type="password" appHighlightBlueInput class="body-item-input-text" formControlName='passwordConfirmed'>
    </div>

    </div>

    <div class="error-message under" *ngIf='changePasswordForm.get("passwords").hasError("PasswordDoesNotMatch")'>
      <p class="error-message-text">Password`s doesn`t match</p>
    </div>

    <div class="error-message" *ngIf='!passwordChanged'>
      <p class="error-message-text"> Old Password is incorrect</p>
    </div>

  <div class="body-item last">
    <aside class="body-item-desc">
    </aside>

    <div class="body-item-input start-position" >
      <button type="submit" class="btn-submit " [disabled]='!changePasswordForm.valid'>Change Password</button>
    </div>
  </div>

</form>
