.body{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  width: 80vh;
  height: 40vh;
}

.body-item{
  display: flex;
  width: 70vh;
  height: 5vh;
  margin-bottom: 3%;
}

.body-item-desc{
  margin-right: 5%;
  margin-left: 10%;
  width: 15vh;
  align-items: center;
}

.body-item-input{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.body-item-desc,.body-item-input{
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.body-item-desc-text{
  text-align: right;
  justify-content: center;
}

.body-item-input-text{
  border-radius: 3px;
  border: 2px solid lightgray;
  flex-grow: 1;
}

.btn-submit{
  display: flex;
  text-align: center;
  align-items: center;
  background-color: #4169E1;
  color: white;
  border-radius: 10px;
  font-size: 17px;
  height: 10vh;
}

.start-position{
  justify-content: flex-start;
}

.btn-submit:disabled{
  background-color: #adcae6;
}

.under
{
  justify-content: center;
  align-items: center;
  display: flex;
}

