<form [formGroup]='searchForm' (ngSubmit)='onSubmit()'>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Stadium Id</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Value" formControlName='value'>
    </div>

  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>
<table class="table" *ngIf='stadiums.length > 0'>
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody *ngFor='let stadium of stadiums'>
    <tr>
      <th scope="row">{{stadium.stadiumId}}</th>
      <td>{{stadium.name}}</td>
      <td>{{stadium.address}}</td>
    </tr>
  </tbody>
</table>
<table class="table" *ngIf='stadiums.length > 0'>
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Home Team Name</th>
      <th scope="col">Guest Team Name</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody *ngFor='let game of games'>
    <tr>
      <th scope="row">{{game.gameId}}</th>

      <td>{{game.house_Team.name}}</td>
      <td>{{game.guest_Team.name}}</td>
      <td>{{game.startTime}}</td>
    </tr>
  </tbody>
</table>
