<nav class="profile-nav-menu">
  <div class="profile-nav-menu-item">
    <span class="profile-nav-menu-item-text">
      <a routerLink='/Profile/Settings'>Settings</a>
    </span>
  </div>

  <div class="profile-nav-menu-item">
    <span class="profile-nav-menu-item-text">
      <a routerLink='/Profile/AddPlayer'>Add Player</a>
    </span>
  </div>

  <div class="profile-nav-menu-item">
    <span class="profile-nav-menu-item-text">
      <a routerLink='/Profile/AddTeam'>Add Team</a>
    </span>
  </div>

  <div class="profile-nav-menu-item">
    <span class="profile-nav-menu-item-text">
      <a routerLink='/Profile/AddStadium'>Add Stadium</a>
    </span>
  </div>

  <div class="profile-nav-menu-item">
    <span class="profile-nav-menu-item-text">
      <a routerLink='/Profile/AddGame'>Add Game</a>
    </span>
  </div>

  <div class="profile-nav-menu-item">
    <span class="profile-nav-menu-item-text">
      <a routerLink='/Profile/ChangePlayer'>Change Player</a>
    </span>
  </div>

  <div class="profile-nav-menu-item">
    <span class="profile-nav-menu-item-text">
      <a routerLink='/Profile/ChangeGame'>Change Game</a>
    </span>
  </div>


  <div class="profile-nav-menu-item">
    <span class="profile-nav-menu-item-text">
      <button class="btn-submit" (click)='logOut()' > Sign Out</button>
    </span>
  </div>

</nav>

