<nav class="nav-menu">
  <section class="nav-menu-profile">
    <span class="nav-menu-profile-element-text"><a class="profile" routerLink='Profile'><i class="far fa-user"></i></a></span>
  </section>

  <section class="nav-menu-body">
    <div class="nav-menu-body-element">
      <span class="nav-menu-body-element-text" ><a routerLink=''>Home</a></span>
    </div>

    <div class="nav-menu-body-element">
      <span class="nav-menu-body-element-text"><a  routerLink='AllPlayers'> All players</a></span>
    </div>

    <div class="nav-menu-body-element">
      <span class="nav-menu-body-element-text"><a  routerLink='AllGames'> All games</a></span>
    </div>
  </section>

  <section class="nav-menu-search">
    <div class="nav-menu-search-block">


    </div>

  </section>

</nav>
